<h2>MiniBlog</h2>

<a routerLink="/add-post" *ngIf="authService.isLoggedIn()">Add Post</a>

<hr />

<div *ngFor="let post of posts">
  <h3>{{ post.title }}</h3>
  <p>{{ post.content }}</p>
  <small>By {{ post.authorUsername }} on {{ post.createdAt | date: 'short' }}</small>

  <!-- Кнопка удаления только для автора -->
  <button *ngIf="authService.getUsername() === post.authorUsername && post.id !== undefined"
          (click)="deletePost(post.id!)">
    Delete
  </button>
  <button *ngIf="authService.getUsername() === post.authorUsername && post.id !== undefined"
          [routerLink]="['/edit-post', post.id]">
    Edit
  </button>

  <hr />
</div>
