<div class="comments">
  <h4>Comments:</h4>

  <div *ngIf="comments.length === 0" class="no-comments">
    No comments yet.
  </div>

  <div *ngFor="let comment of comments" class="comment-block">
    <div class="comment-author">
      <strong>{{ comment.authorUsername }}</strong> &nbsp;
      <span class="comment-date">{{ comment.createdAt | date:'short' }}</span>
    </div>
    <div class="comment-content">
      {{ comment.content }}
    </div>
  </div>

  <div *ngIf="authService.isLoggedIn()" class="comment-form">
    <textarea [(ngModel)]="newComment" rows="3" placeholder="Enter your comment..."></textarea>
    <button (click)="submitComment()">Submit Comment</button>
  </div>
</div>
